.category {
  background-color: black;
  padding: 10px 0;
  margin: 10px 0;
}
.cateWrapper {
  display: flex;
  justify-content: space-between;

  a {
    color: white;
  }
  a.active {
    color: red;
  }
  @media only screen and (max-width: 679px) {
    flex-direction: column;
  }
}
