@use "../../variables/Styles" as *;

%btn {
  padding: 7px 20px;
  border-radius: 20px;
  border: none;
}
.yellow {
  @extend %btn;
  background-color: $primary-color;
}
.purple {
  @extend %btn;
  background-color: $secondary-color;
  color: white;
}
