@use "../../variables/Styles.scss" as *;
.singlePage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 50px 0;
  position: relative;
  .singleLogo {
    width: 50px;
    margin-bottom: 5px;
  }
  .cate {
    color: $gray-color;
    font-weight: 600;
    text-transform: capitalize;
    margin: 8px 0;
    font-size: 13px;
  }
  .singleRating {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    span.rate {
      display: inline-block;
      margin: 0 10px;
      font-weight: 600;
      font-size: 14px;
      color: $gray-color;
    }
  }
  .singlePrice {
    margin-bottom: 20px;
    span {
      display: inline-block;
      margin-right: 35px;
      font-weight: 600;
      font-size: 14px;
    }
    .price {
      color: $secondary-color;
      font-weight: bold;
    }
    .percent {
      background-color: $primary-color;
      padding: 2px 7px;
      font-weight: 500;
    }
  }
  h3 {
    margin: 10px 0;
    font-size: 15px;
  }
  .sizes {
    margin-bottom: 15px;
    span {
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid $gray-lighter-color;
      text-align: center;
      line-height: 60px;
      color: $secondary-color;
      font-size: 11px;
      font-weight: 600;
      margin-right: 12px;
      margin-bottom: $margin-bottom;
      cursor: pointer;
    }
    span.active {
      background-color: $gray-lighter-color;
    }
  }
  .colorsImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: $margin-bottom;
  }
  .addToCart {
    background-color: $gray-lighter-color;
    border-radius: 20px;
    padding: 5px 0;
    width: 130px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
    span {
      position: absolute;
      background-color: $primary-color;
      border-radius: 50%;
      display: inline-block;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      cursor: pointer;
    }
    .decrement {
      top: 2px;
      left: 5px;
    }
    .increment {
      top: 2px;
      right: 4px;
    }
  }
  .cartBtns {
    button {
      margin-right: 25px;
      margin-bottom: $margin-bottom;
    }
  }
  .bread {
    position: relative;
  }
  .bread::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
  }
  @media only screen and (max-width: 991px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
