@use "../../variables/Styles.scss" as *;
.brandWrapper {
  margin: 150px 0 50px 0;
  h3 {
    color: $secondary-color;
    font-size: 25px;
    margin-bottom: 5px;
  }
  p {
    font-weight: 500;
    color: $gray-color;
    margin-bottom: 25px;
  }
  .alice-carousel__stage-item {
    padding: 6px;
  }
  .alice-carousel__dots-item:not(.__custom) {
    width: 100px;
    height: 4px;
    border-radius: 0;
    @media only screen and (max-width: 750px) {
      width: 50px;
    }
    @media only screen and (max-width: 390px) {
      width: 30px;
    }
  }
  .alice-carousel__dots-item:not(.__custom):not(:last-child) {
    margin-right: 0;
  }
}
